{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>{{ hotel.name }}</title>
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
</head>
<body>

<div class="container">
    <div class="card">
        <h1>
            {{ hotel.name }}
            <div>
                {% if hotel.rating|default:0 > 0 %}
                {% for i in "12345"|slice:":hotel.rating"|make_list %}
                  <span style="color:gold;">&#9733;</span>
                {% endfor %}
                {% for i in "12345"|slice:"hotel.rating:"|make_list %}
                  <span style="color:#ccc;">&#9733;</span>
                {% endfor %}
              {% else %}
                {# فقط ۵ ستاره خاکستری وقتی صفر هست #}
                {% for i in "12345"|make_list %}
                  <span style="color:#ccc;">&#9733;</span>
                {% endfor %}
              {% endif %}
            </div>
        </h1>
        <div class="image-container">
            {% if hotel.image %}
                <img src="{{ hotel.image.url }}" alt="{{ hotel.name }}">
            {% else %}
                <img src="{% static 'images/hotels/default.jpg' %}" alt="{{ hotel.name }}">
            {% endif %}
        </div>

        <div class="info hotel-info">
                         
            <p><strong>مکان:</strong> <span class="description-text">{{ hotel.location }}</span></p>
            <p><strong>توضیحات:</strong> <span class="description-text">{{ hotel.description }}</span></p>
            <p><strong>قیمت هر شب:</strong> {{ hotel.price_per_night }} تومان</p>

        </div>

        {% if user.is_authenticated %}
            <hr>

            <a href="{% url 'main:home' %}" class="back-link">← بازگشت به صفحه اصلی</a>

            <h2>رزرو اتاق</h2>
            <form method="post" action="{% url 'main:reserve_hotel' hotel.id %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn">رزرو</button>
            </form>
        {% else %}
            <p><a href="{% url 'main:login' %}">برای رزرو ابتدا وارد شوید.</a></p>
        {% endif %}

    </div>
</div>

</body>
</html>
